title{
	color: black;
	text-align: center;
	font-size 30px;
}
p {
    color: black;
    text-align: center;
    font-size: 14px;
}
h1{
 color: black;
    text-align: center;
    font-size: 30px;
}